@import url('https://fonts.googleapis.com/css?family=Poppins');
:local(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:local(.img) {
    width: 100%;
    height: 100%;
}
:local(.page1) {
    width: 100%;
    height: 100%;
}

:local(.page1_textBox) {
    position: absolute;
    top: 200px;
    right: 100px;
}
:local(.page1_tagline) {
    line-height: 93px;
    font-size: 90px;
    color: #ffffff;
    text-align: right;
}
:local(.page1_subtagline) {
    font-weight: 600;
    line-height: 52px;
    font-size: 50px;
    letter-spacing: 0.1em;
    color: #FB4469;
    text-align: right;
    margin-top: 10px;
}
:local(.text) {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
}
:local(.red) {
    color: #FB4469;
}