@import url('https://fonts.googleapis.com/css?family=Chivo|Poppins:600');
@import url('https://fonts.googleapis.com/css?family=Chivo');
:local(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:local(.img) {
    width: 100%;
    height: 100%;
}
:local(.page1) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

:local(.page1_textBox) {
    position: absolute;
    right: 10vw;
    padding-bottom: 50px;
}
:local(.page1_tagline) {
    line-height: 6.5vw;
    font-size: 6.5vw;
    color: #ffffff;
    text-align: right;
}
:local(.page1_subtagline) {
    line-height: 3.5vw;
    font-size: 3.5vw;
    letter-spacing: 0.1em;
    color: #FB4469;
    text-align: right;
    margin-top: 10px;
}
:local(.text_poppins) {
    font-family: Poppins;
    font-style: normal;
}
:local(.text_chivo) {
    font-family: Chivo;
}
:local(.red) {
    color: #FB4469;
}

:local(.page2) {
    display: flex;
    align-items: center;
}

:local(.logo) {
    position: absolute;
    width: 20vw;
    right: 20vw;
}

:local(.page2_textBox) {
    position: absolute;
    left: 20vw;
    width: 36vw;
    text-align: center;
}

:local(.page2_title) {
    font-size: 5vw;
}

:local(.rect) {
    height: 8px;
    width: 14vw;
    margin: 10px 0px;
    fill: #C960FF;
    fill-opacity: 0.3;
}

:local(.page2_whoweare) {
    text-align: left;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 2.5vw;
}